/* css sanity check */
body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    /* for row, use justify-content */
    flex-direction: column;
/*     margin: 10px;
    padding: 10px; */
}
h1 {
    margin: 0;
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 60px;
    text-align: center;
    border: solid 2px blue;
    /* padding-bottom: 10px; */
    margin: 10px;
    padding: 0 0 10px 0;

}
#game-window {
    width: 300px;
    height: 300px;
    border: solid 2px blue;
    margin: 10px;
    padding: 10px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 300px;
    height: 110px;
    border: solid 2px blue;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

button {
    width: 70px;
    height: 50px;
}
