/* css sanity check */
body {
    background-image: url("https://i.pinimg.com/originals/a3/88/cb/a388cb03db387f20d71e4ffc14df6f5d.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: lightgrey;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* for row, use justify-content */
    flex-direction: column;
/*     margin: 10px;
    padding: 10px; */
}
div {
    border: solid 2px blue;
}
h1 {
    margin: 0;
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 60px;
    text-align: center;
    border: solid 2px blue;
    /* padding-bottom: 10px; */
    margin: 10px;
    padding: 0 0 10px 0;

}
#game-window {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 300px;
    height: 350px;
    border: solid 2px blue;
    margin: 10px;
    padding: 10px;
}
#game-window img {
    /*https://cdn.drawception.com/drawings/L5Oy5CCyMh.png*/
/*   position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 50%;
}
.evolved {
  position:relative;
  left:0;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}
/* #game-window img.transparent {
opacity:0;
}
#picture_onClick {
cursor:pointer;
} */
.controls {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 300px;
    height: 110px;
    border: solid 2px blue;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

button {
    width: 70px;
    height: 50px;
}
